body {
  background-image: url(./Alarm-Clock-Background-Images.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

.home-page {
  margin: auto;
  width: 70%;
  height: 80%;
  padding: 5em;
  margin: 5em;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px grey;
  font-size: 2em;
}

.app-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px grey;
}